<div class="dashboard-header-container">
  <div class="badages">
    <!-- <h3 class="section-head">HEADING!</h3> -->
    <div class="analytics">
      <div class="analytic">
        <!-- <div class="analytic-icon"><span class="las la-eye"></span></div> -->
        <div class="analytic-info">
          <h4>Subhead1</h4>
          <h1>00.0</h1>
        </div>
      </div>
      <div class="analytic">
        <!-- <div class="analytic-icon"><span class="las la-clock"></span></div> -->
        <div class="analytic-info">
          <h4>Subhead2</h4>
          <h1>00.0</h1>
        </div>
      </div>
      <div class="analytic">
        <!-- <div class="analytic-icon"><span class="las la-users"></span></div> -->
        <div class="analytic-info">
          <h4>Subhead3</h4>
          <h1>00.0</h1>
        </div>
      </div>
      <div class="analytic">
        <!-- <div class="analytic-icon"><span class="las la-heart"></span></div> -->
        <div class="analytic-info">
          <h4>Subhead4</h4>
          <h1>00.0</h1>
        </div>
      </div>
    </div>
  </div>
</div>
