<app-dialog-box
[headerName]="'Login'"
[width]="30"
[height]="80"
[showButton2]="true"
[top]="55"
[left]="60"
[button1Name]="'Login'"
>
  <div class="formbold-main-wrapper">
    <div class="formbold-form-wrapper">
      <form>
        <div class="formbold-input-flex">
          <div>
            <label for="firstname" class="formbold-form-label"> User Id </label>
            <input
              type="text"
              name="firstname"
              id="firstname"
              class="formbold-form-input"
            />
          </div>
        </div>
        <div class="formbold-input-flex">
          <div>
            <label for="firstname" class="formbold-form-label"> Password </label>
            <input
              type="password"
              name="firstname"
              id="firstname"
              class="formbold-form-input"
            />
          </div>
        </div>
      </form>
    </div>
  </div>
</app-dialog-box>


